extends layout
//extends header
block content
    link(rel='stylesheet', href='/stylesheets/documents.css')
    script(type="text/babel" src="/javascripts/common.js")
    script(type="text/babel" src="/javascripts/admin.js")

    if store
        script(type='text/javascript').
            var userData = !{JSON.stringify(userData)}
            var initData = !{JSON.stringify(store)}
    div
        div#doc!=react
