extends layout
block content
    link(rel='stylesheet', href='/stylesheets/registreerimine.css')
    h1= 'KÜ'
    h2= 'Registreerimine'
    br
    p= 'Õnnestius'
    div.text
        label.label Teie andmed oli saadetud edukalt. Oodake vastus

    br
    br
    a(href="/help/registreerimine")
        img(src='/images/icons/info.png')
        span Abi

