doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="/vendor/react.development.js")
    script(type="text/javascript" src="/vendor/react-dom.development.js")
    script(type="text/javascript" src="/vendor/browser.min.js")

  body
    div#kasutaja
  block content
