div.form {
    width:30%;
}

div.text {
    padding:5px;
    marging:5px;
}

div.text input {
    width:100%;
}

div.submit .submit {
    width:100px;
    margin-left:5px;
}

label.labelErrorMessage {
    color:red;
    margin-top:10px;
}

label {
    margin-left: 20px;
}

input {
    border-radius:2px;
    padding:5px;
    display: inline-block;
    border: 1px solid gray;
    margin-left: 20px;
}
